@keyframes svelte-tibptj-shimmer{0%{transform:translate(-100%)}to{transform:translate(100%)}}.clip-triangle.svelte-5o1aga{clip-path:polygon(50% 0%,0% 100%,100% 100%)}.glow-orange.svelte-5o1aga{text-shadow:0 0 10px rgb(var(--tangerine))}
